/* Elements */
@page {
  margin: 0;
  padding: 0;
  size: 0;
}
p {
  margin: 0px;
}
section {
  background-size: cover;
  padding: 35px 10px 15px 20px;
  width: 759px;
  height: 1100;
}
.name {
  font: 1.35em "Fira Sans", sans-serif;
  font-weight: 500;
}
.contacts {
  font: 0.95em "Fira Sans", sans-serif;
}
.personal-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 759px;
  padding-bottom: 10px;
}
.name-contacts {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 375px;
  height: 70px;
}
.social-profiles {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 40px;
}
.field-name {
  font: 1.1em "Fira Sans", sans-serif;
  font-weight: 450;
}
.segment-header {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 437px;
  /* padding-top: 10px; */
  padding-bottom: 10px;
}
.line {
  width: 171px;
  height: 2px;
  background-color: black;
  margin-right: 10px;
}
.table-row {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 760px;
  font: 0.9em "Fira Sans", sans-serif;
}
.year {
  border: 1px solid grey;
  height: 26px;
  width: 93px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.exam {
  border: 1px solid grey;
  height: 26px;
  width: 210px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.institution {
  border: 1px solid grey;
  height: 26px;
  width: 300px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.result {
  border: 1px solid grey;
  height: 26px;
  width: 150px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.table {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 10px;
}
.exp-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20px;
}
.company-position {
  display: flex;
  justify-content: left;
  align-items: center;
  /* width: 400px; */
}
.company {
  /* font-weight: 700; */
  font: 0.9em "Fira Sans", sans-serif;
  font-weight: 600;
}
.position-length {
  font: 0.9em "Fira Sans", sans-serif;
  font-weight: 600;
}
.seperator {
  background-color: black;
  height: 14px;
  width: 1.95px;
  margin: 0px 8px;
}
.job-description {
  font: 0.9em "Fira Sans", sans-serif;
  margin: 5px 0px;
}
.works {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 757px;
}
.dot {
  height: 31px;
  width: 1.5;
  background-color: black;
  display: inline-block;
}
.works-done {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 17px;
}
.mt-10 {
  margin-top: 10px;
}
.ml-5 {
  margin-left: 5px;
}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20px;
}
ul {
  font: 0.9em "Fira Sans", sans-serif;
  font-weight: 400;
  padding: 0px;
  margin: 0px;
  padding-left: 5px;
}
li {
  margin: 5px;
}
