<section>
    <p class="title pl30 pt30">Aptitude Analysis</p>
      <div class="divider"></div>
      <div class="aptitude-analysis-segment-container centerAlign flexDirectionCol spaceBetween mt100">
      {{#each aptitude_analysis}}
           <div class="aptitude-analysis-segment centerAlign flexDirectionRow spaceBetween">
              <div class="card-v2"></div>
              <div class="aptitude-analysis-indicator-container centerAlign flexDirectionCol spaceBetween">
                  <div class="aptitude-analysis-indicator-container-1 flexDirectionRow centerAlign spaceEvenly ml100">
                       {{#with overall_percentile_params}}
                          {{>indicator}}
                       {{/with}}
                       <div class="divider-vertical mt20"></div>
                       {{#with state_percentile_params}}
                          {{>indicator}}
                       {{/with}}
                       <div class="divider-vertical mt20"></div>
                       {{#with city_percentile_params}}
                          {{>indicator}}
                       {{/with}}
                  </div>
                <div class="banner width80-per textalign-left">
                  <img height="50px" width="50px" src="assets/horn.png"/>
                  <p class="ml30">{{narrative}}</p></div>  
              </div>
           </div>
      {{/each}}
      </div>
</section>