 <section>
      <p class="title pl30 pt30">Aptitude Dimensions</p>
      <div class="divider"></div>

      <p class="desc-1 pl30 pt60">
        To complement your academic profiling, we also tested you on your
        aptitude. This will help in your all-round development.
      </p>
      <div
        class="aptitude-dimensions-body alignCenter spaceEvenly flexDirectionCol ml100"
      >
        <div class="alignLeft flexDirectionCol">
          <div class="alignLeft centerAlign">
            <div class="circle centerAlign"><p class="mt10">01</p></div>
            <div class="centerAlign description-title ml60">
              <p class="mt10">Quantitative Ability</p>
            </div>
          </div>
          <div class="smallDescription-2 ml100 mt5">
            The ability to perform numerical operations with great accuracy and
            speed. Students with good quantitative ability excel at mathematical
            thinking.
          </div>
        </div>

        <div class="alignLeft flexDirectionCol">
          <div class="alignLeft centerAlign">
            <div class="circle centerAlign"><p class="mt10">02</p></div>
            <div class="centerAlign description-title ml60">
              <p class="mt10">Logical Ability</p>
            </div>
          </div>
          <div class="smallDescription-2 ml100 mt5">
            The ability to think logically and deduce effective conclusions.
            Students with good logical abilities tend to tackle complex problems
            with ease and precision.
          </div>
        </div>

        <div class="alignLeft flexDirectionCol">
          <div class="alignLeft centerAlign">
            <div class="circle centerAlign"><p class="mt10">03</p></div>
            <div class="centerAlign description-title ml60">
              <p class="mt10">Verbal Ability</p>
            </div>
          </div>
          <div class="smallDescription-2 ml100 mt5">
            The ability to express ideas clearly using words with correct
            grammar. Students with good verbal abilities can present their
            thoughts coherently in subjective answers.
          </div>
        </div>
      </div>
    </section>